.full-page {
  width: 100%;
  height: 100%;
  position: absolute;
}

.check-tree-container {
  width: 100%;
  height: 100%;
  background: #eee;
  position: absolute;
}

.check-tree-container .buy-button, .check-tree-container .have-button, .check-tree-container .skip-button {
  width: 70%;
  padding: 8px;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 5px;
  border-style: none;
  line-height: 30px;
}

.check-tree-container .have-button {
  background: #3b5998;
  top: 54%;
}

.check-tree-container .buy-button {
  background: #64853A;
}

.check-tree-container .skip-button {
  background: none;
  color: #aaa;
}
