.friend-container{
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('../images/friends/BG.jpg');
  background-size: cover;
  .friendlist{
    background-color: #2Daa2D;
    position: absolute;
    top: 20%;
    height: 70%;
    width: 100%;

  }

}
