.panel-container{
	width: 100%;
	height: 15%;
	position: absolute;
	top: 87%;
	.panel-button{
		width: 14%;
		height: 100%;
		float: left;
		background-size: 70%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
	.profile{
		margin-left: 5%;
		margin-right: 5%;
		background-image: url('../images/panel/profile.png');
	}
	.profile-active{
		background-image: url('../images/panel/profile_click.png');
	}
	.market{
		margin-right: 5%;
		background-image: url('../images/panel/shop.png');
	}
	.market-active{
		background-image: url('../images/panel/shop_click.png');
	}
	.acheivement{
		margin-right: 5%;
		background-image: url('../images/panel/badge.png');
	}
	.acheivement-active{
		background-image: url('../images/panel/badge_click.png');
	}
	.home{
		margin-right: 5%;
		background-image: url('../images/panel/home.png');
	}
	.home-active{
		margin-right: 5%;
		background-image: url('../images/panel/home_click.png');
	}
	.friend{
		margin-right: 5%;
		background-image: url('../images/panel/friend.png');
	}
	.friend-active{
		margin-right: 5%;
		background-image: url('../images/panel/friend_click.png');
	}
}
