body{
	margin: 0;
}

.profile-container{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url('../images/profile/BG.png');
	background-size: cover;
	.profile-pic{
		background-color: white;
		width: 45%;
		overflow: hidden;
		position: absolute;
		left: 27.5%;
		top: 5%;
		img{
			width: 102%;
			height: 102%;
			background-image: url('../images/profile/profile-demo.jpg');
			background-size: cover;
			position: absolute;
			left: -1%;
			top: -1%;
		}
		.change-profile-btn{
			width: 105%;
			height: 105%;
			border-radius: 52%;
			background-color: rgba(0,0,0,0.5);
			position: absolute;
			left: -2%;
			top: -2%;
			opacity: 0;
			color: white;

		}
	}
	.profile-form{
		width: 100%;
		height: 40%;
		position: absolute;
		top: 35%;
		input[type=text]{
			width: 80%;
			margin-left: 10%;
			margin-bottom: 3%;
		}
		.input-name{
			border-radius: 3px;
			border-style: none;
			height: 13%;
			-webkit-box-shadow: inset 1px 1px 1px 1px rgba(171,171,171,0.6);
			-moz-box-shadow: inset 1px 1px 1px 1px rgba(171,171,171,0.6);
			box-shadow: inset 1px 1px 1px 1px rgba(171,171,171,0.6);
			text-align: center;
			color: black;
		}
		.submit-button{
			width: 80%;
			padding: 8px;
			color: white;
			border-radius: 5px;
			border-style: none;
			line-height: 30px;
			background: #64853A;
			margin-left: 10%;
		}
	}
	.logout{
		width: 30px;
		height: 30px;
		position: absolute;
		top: 10px;
		right: 10px;
		background-image: url('../images/profile/logout.png');
		background-size: cover;
	}
}